:root {
  --big-font: "Manrope";
  --normal-font: "Manrope";
  --body-color: rgba(255, 255, 255, 1);
  --modal-background: rgba(0,0,0,0.04);
  --modal-color: rgba(255,255,255,1);
  --text-color: rgba(0, 0, 0, 1);
  --body-color-light: rgba(255, 255, 255, 0.8);
  --button-color-gray: rgba(0, 0, 0, 0.116);
  --button-color-gray-hov: rgba(0, 0, 0, 0.226);
  --loading-color: rgba(0, 0, 0, 0.1);
  --button-color: rgb(52, 147, 255);
  --button-color-hov: rgb(12, 115, 233);
  --button-text-color: rgba(255, 255, 255, 1);
  --button-unavailable: rgba(0, 0, 0, 0.274);
  --skel-color: rgba(0, 0, 0, 0.068);
  --error-color: rgb(255, 44, 44);
  --button-radius: 5px;
  --app-color-modals: rgba(255, 255, 255, 1);
  --app-color-borders: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --big-font: "Manrope";
    --normal-font: "Manrope";
    --body-color: rgb(18, 18, 18);
    --modal-background: rgba(0,0,0,1);
    --modal-color: rgba(255,255,255,0.1);
    --text-color: rgba(255, 255, 255, 1);
    --body-color-light: rgba(18, 18, 18, 0.8);
    --button-color-gray: rgba(255, 255, 255, 0.116);
    --button-color-gray-hov: rgba(255, 255, 255, 0.226);
    --loading-color: rgba(255, 255, 255, 0.1);
    --button-color: rgb(52, 147, 255);
    --button-color-hov: rgb(12, 115, 233);
    --button-text-color: rgba(255, 255, 255, 1);
    --button-unavailable: rgba(0, 0, 0, 0.274);
    --skel-color: rgba(255, 255, 255, 0.068);
    --error-color: rgb(255, 44, 44);
    --button-radius: 5px;
    --app-color-modals: rgba(255, 255, 255, 1);
    --app-color-borders: rgba(255, 255, 255, 0.1);
    --invert-icon: invert();
  }
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/Manrope.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Manrope.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope.woff2");
}

* {
  transition: background-color 0.1s linear, color 0.1s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--big-font), sans-serif;
  font-weight: 700;
  color: var(--text-color);
}
p,
span,
li,
input,
div {
  font-family: var(--normal-font), sans-serif;
  color: var(--text-color);
}

input {
  background-color: var(--body-color);
  color: var(--text-color);
}

@media only screen and (max-width: 769px) {
  .content {
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media only screen and (min-width: 769px) {
  .content {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.loading {
  background-color: var(--loading-color);
}

body {
  background-color: var(--body-color);
  margin: 0;
}

trn {
  display: none;
}

.loading-spinner {
  animation: spinning 0.7s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skel {
  /* background-color: var(--skel-color); */
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--skel-color);
  background: linear-gradient(
    270deg,
    var(--skel-color) 45%,
    var(--body-color) 50%,
    var(--skel-color) 55%
  );
  animation: skel 1s ease infinite;
  background-size: 300% 300%;
}

@keyframes skelLite {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes skel {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.notification h3,
.notification p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 729px) {
  .notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .notification-inner {
    background-color: var(--body-color-light);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    height: 85px;
  }
  .notification-inner-inner {
    margin: 10px;
  }
}

@media only screen and (max-width: 728px) {
  .notification {
    position: fixed;
    left: 0px;
    right: 0px;
    height: 215px;
    padding: 10px;
    overflow-y: auto;
    animation: notificationFlyIn 0.3s cubic-bezier(0, 1, 0.55, 0.97) forwards;
    animation-delay: 1s;
    transform: translateZ(0);
    scroll-snap-type: y proximity;
  }
  .notification-flyout {
    animation: notificationFlyOut 0.3s cubic-bezier(0, 1, 0.55, 0.97) forwards;
  }
  .notification-inner {
    background-color: var(--body-color-light);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    height: 85px;
    box-shadow: 0px 8px 24px var(--app-color-borders);
  }
  .notification-inner-inner {
    margin: 10px;
  }
  .notification-padding {
    height: 100px;
    scroll-snap-align: start;
  }

  @keyframes notificationFlyIn {
    0% {
      top: -220px;
    }
    100% {
      top: -110px;
    }
  }
  @keyframes notificationFlyOut {
    0% {
      top: -110px;
    }
    100% {
      top: -220px;
    }
  }
}

.pane-page {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .pane {
      box-sizing: border-box;
      width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .pane {
      box-sizing: border-box;
      width: 60%;
      max-width: 850px;
  }

  @media only screen and (max-width: 958px) {
          .pane {
              box-sizing: border-box;
              width: 700px;
          }
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.header img {
  filter: var(--invert-icon);
}
.header .logo {
  height: 45px;
}

.warning {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(255,0,0,0.4);
  border: solid 2px rgba(255,0,0,1);
  box-sizing: border-box;
  border-radius: 10px;
}
.warning > p {
  margin: 0;
}