:root {
  --big-font: "Eudoxus Sans";
  --normal-font: "Inter";
  --body-color: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 1);
  --body-color-light: rgba(255, 255, 255, 0.8);
  --button-color-gray: rgba(0, 0, 0, 0.116);
  --button-color-gray-hov: rgba(0, 0, 0, 0.226);
  --loading-color: rgba(0, 0, 0, 0.1);
  --button-color: rgb(52, 147, 255);
  --button-color-hov: rgb(12, 115, 233);
  --button-text-color: rgba(255, 255, 255, 1);
  --button-unavailable: rgba(0, 0, 0, 0.274);
  --skel-color: rgba(0, 0, 0, 0.068);
  --error-color: rgb(255, 44, 44);
  --button-radius: 5px;
  --app-color-modals: rgba(255, 255, 255, 1);
  --app-color-borders: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --big-font: "Eudoxus Sans";
    --normal-font: "Inter";
    --body-color: rgb(0, 0, 0);
    --text-color: rgba(255, 255, 255, 1);
    --body-color-light: rgba(0, 0, 0, 0.8);
    --button-color-gray: rgba(255, 255, 255, 0.116);
    --button-color-gray-hov: rgba(255, 255, 255, 0.226);
    --loading-color: rgba(255, 255, 255, 0.1);
    --button-color: rgb(52, 147, 255);
    --button-color-hov: rgb(12, 115, 233);
    --button-text-color: rgba(255, 255, 255, 1);
    --button-unavailable: rgba(0, 0, 0, 0.274);
    --skel-color: rgba(255, 255, 255, 0.068);
    --error-color: rgb(255, 44, 44);
    --button-radius: 5px;
    --app-color-modals: rgba(255, 255, 255, 1);
    --app-color-borders: rgba(255, 255, 255, 0.1);
    --invert-icon: invert();
  }
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Bold.woff2") format("woff2"),
    url("/fonts/EudoxusSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--big-font), sans-serif;
  font-weight: 700;
  color: var(--text-color);
}
p,
span,
li,
input {
  font-family: var(--normal-font), sans-serif;
  color: var(--text-color);
}

@media only screen and (max-width: 769px) {
  .content {
    margin-left: 1%;
    margin-right: 1%;
  }
}
@media only screen and (min-width: 769px) {
  .content {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.loading {
  background-color: var(--loading-color);
}

body {
  background-color: var(--body-color);
}

trn {
  display: none;
}

.loading-spinner {
  animation: spinning 0.7s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skel {
  /* background-color: var(--skel-color); */
  border-radius: 5px;
  margin-bottom: 5px;
  background: linear-gradient(
    90deg,
    var(--skel-color) 25%,
    var(--body-color) 50%,
    var(--skel-color) 100%
  );
  animation: skel 1.5s linear infinite;
  background-size: 300% 300%;
}

@keyframes skel {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
