/* skels */
.hero-skel {
  width: 100%;
  border-radius: 5px;
}
@media only screen and (max-width: 769px) {
  .hero-skel {
    height: 60vw;
  }
}
@media only screen and (min-width: 769px) {
  .hero-skel {
    height: 30vw;
  }
}
