.nojs-message {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#mainAppFS {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
