body {
  margin: 0;
  padding: 0;
}

.login-backg {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: black;
  /* background-image: url(https://source.unsplash.com/user/erondu/1600x900); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  pointer-events: none;
}
/* .login-modal {
  background-color: var(--app-color-modals);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 7px;
  transform: translate(-50%, -50%);
} */

.error-input {
  border: var(--error-color) 2px solid !important;
  transition: border 0.1s ease;
}

.login-modal-inner > p {
  font-size: 20px;
}
.login-modal-inner > input {
  padding: 10px;
  font-size: 1.05rem;
  border-radius: var(--button-radius);
  border: var(--app-color-borders) 2px solid;
}
.login-modal-inner > .text-small {
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 0px;
}

.login-modal {
  background-color: var(--body-color);
  position: absolute;
  height: 100vh;
}

buttons {
  display: none;
}

@supports (
  (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
) {
  .login-modal {
    background-color: var(--body-color-light);
    backdrop-filter: blur(5px);
  }
}

.login-modal-b-zone {
  opacity: 0.4;
  font-size: 14px;
}

.error-type {
  color: var(--error-color);
  font-size: 14px !important;
  z-index: -1;
  transform: translateZ(0);
  animation: errorSwing 0.3s ease;
}

@keyframes errorSwing {
  0% {
    margin-bottom: -30px;
    opacity: 0;
  }
  100% {
    margin-bottom: 0px;
    opacity: 1;
  }
}

.error-closed {
  color: var(--error-color);
  font-size: 14px !important;
  z-index: -1;
  transform: translateZ(0);
  animation: errorSwingClose 0.3s ease;
}

@keyframes errorSwingClose {
  0% {
    margin-bottom: 0px;
    opacity: 1;
  }
  99% {
    margin-bottom: -30px;
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.login-button {
  width: calc(100% - 4px) !important;
}

@media only screen and (max-width: 768px) {
  .login-modal {
    width: 100%;
  }
  .login-modal-inner {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .login-modal-inner > input {
    width: calc(100% - 24px);
  }
}

@media only screen and (min-width: 769px) {
  .login-modal-inner {
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
  }
  .login-modal-inner > input {
    width: calc(100% - 24px);
  }
  .login-modal {
    width: 464px;
    overflow-y: auto;
  }
}
