@font-face {
  src: url("/fonts/inter.ttf");
  font-family: "Inter";
}
@font-face {
  src: url("/fonts/eudoxus.woff");
  font-family: "Eudoxus";
  font-size: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backg: rgba(46, 46, 46, 1);
    --text-color: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --backg: rgba(255, 255, 255, 1);
    --text-color: black;
  }
}

body {
  background-color: var(--backg);
}

a,
li,
span,
p {
  font-family: "Inter";
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Eudoxus";
  color: var(--text-color);
}
@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .content {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
