body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: space-between;
}

.ls-app {
  height: 100%;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

.md-app {
  width: 300px;
  height: 100%;
}

.header-md-app {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
}

.rs-app {
  width: calc(100% - 350px);
  height: 100%;
  background-color: burlywood;
}
