body {
  margin: 0;
  padding: 0;
}

.main {
  /* background-color: rgb(218, 218, 218); */
}

.ls-notes {
  transition: all 0.3s ease !important;
}

.note-item {
  background-color: var(--body-color);
  border: solid 2px var(--app-color-borders);
}

.note-item-inner > p {
  word-wrap: break-word;
}

.rs-notes > .item > img {
  filter: var(--invert-icon);
}

@media only screen and (max-width: 768px) {
  .current-screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    animation: openCurrentScreen 0.3s ease;
    transform: translateZ(0);
  }
  @keyframes openCurrentScreen {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  .write-new-note-screen > .popup {
    height: 100vh;
    width: 100%;
  }
  .popup {
    background-color: var(--body-color);
    border-radius: 10px;
    z-index: 101;
    overflow-y: hidden;
  }
  .write-new-note-screen > .popup > .new-note-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--app-color-borders);
    /* margin: 5px; */
    /* height: 50px; */
  }
  .write-new-note-screen > .popup > .new-note-header > div {
    margin: 15px;
  }
  .write-new-note-screen > .popup > .new-note-header > div > img {
    filter: var(--invert-icon);
    /* margin: 15px; */
    width: 25px;
    display: inline-block;
    vertical-align: top;
    transform: rotate(90deg);
  }
  .write-new-note-screen > .popup > .new-note-header > div > p {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 15px;
  }
  .write-new-note-screen > .popup > .note-outer > .note-typing {
    height: 100%;
    /* width: 100%; */
    padding: 20px;
    overflow-y: auto;
    outline: 0;
  }
  .write-new-note-screen > .popup > .note-outer > .note-typing img {
    width: 100% !important;
    /* padding: 20px; */
    overflow-y: auto;
    border-radius: var(--button-radius);
    outline: 0;
  }
  .write-new-note-screen > .popup > .note-outer {
    height: calc(100% - 92px) !important;
    width: 100%;
    /* margin: 20px; */
  }
  .create-new-modal-container {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .main {
    width: 100%;
    height: 100vh;
  }
  .note-item {
    background-color: var(--body-color);
    border: solid 1px var(--app-color-borders);
  }
  .ls-notes {
    width: 100%;
  }
  .rs-notes {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      var(--button-color-gray-hov) 100%
    );
  }
  .rs-notes > .item {
    background-color: var(--body-color);
    padding: 10px;
    position: relative;
    bottom: -5px;
    border-radius: 25px;
    margin-bottom: -10px;
    transition: background-color 0.1s ease;
    height: 20px;
    overflow-y: hidden;
  }
  .rs-notes > .item > img {
    vertical-align: top;
    display: inline-block;
    height: 20px;
  }
  .rs-notes > .item > p {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
  }
  .note-item {
    width: 100%;
    border-left: 0;
    border-right: 0;
  }
  .delete-note > .screen-background {
    z-index: 101;
    background-color: var(--app-color-borders);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .delete-note > .popup {
    top: 10px;
    right: 10px;
    left: 10px;
    position: absolute;
  }
  .delete-note > .popup > div {
    margin: 20px;
    text-align: center;
  }
  .delete-note > .popup > div > button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
  }
  @media only screen and (max-width: 729px) {
    .rs-notes > .item > p {
      display: none;
      margin: 0;
    }
    .rs-notes > .item > img {
      margin: 0;
    }
    .write-new-note-screen > .popup > .note-footer > div > p {
      display: none;
    }
  }
  .write-new-note-screen
    > .popup
    > .note-footer
    > div
    > .note-footer-button-context {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .ls-notes {
    /* width: 100%; */
    padding: 30px;
    padding-top: 10px;
  }
  .main {
    width: 60%;
    min-width: 500px;
    max-width: 100%;
    height: calc(100vh - 70px);
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
  }
  .rs-notes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-content: stretch;
    /* position: sticky;
    top: 0; */
    /* width: 30%; */
  }
  .rs-notes > .item {
    background-color: var(--button-color-gray);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 5px;
    height: 20px;
    max-width: 200px;
    overflow: hidden;
    transition: max-width 0.2s ease, background-color 0.1s ease;
  }
  .rs-notes > .item:hover {
    background-color: var(--button-color-gray-hov);
  }
  .rs-notes > .item > p {
    margin: 0;
    pointer-events: none;
    user-select: none;
    white-space: unset;
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 100px;
  }

  @media only screen and (min-width: 1361px) {
    .rs-notes > .item > p {
      animation: showPElement 0.5s ease;
    }
    @keyframes showPElement {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .create-button {
    display: none;
  }
  @media only screen and (max-width: 1360px) {
    .rs-notes > .item > p {
      opacity: 0;
    }
    .rs-notes > .item {
      max-width: 20px;
      /* width: 20px; */
      overflow: hidden;
      transition: max-width 0.2s ease;
      animation: reduceSizeButton 0.2s ease;
    }
    @keyframes reduceSizeButton {
      0% {
        width: 100%;
      }
      100% {
        width: 20px;
      }
    }
  }
  .rs-notes > .item > img {
    vertical-align: top;
    display: inline-block;
    height: 20px;
  }
  .note-item {
    width: 600px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    /* max-width: 525px; */
  }
  .create-new-modal-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .create-new-modal-container > p {
    margin: 5px;
  }
  .create-new-modal-container > img {
    filter: var(--invert-icon);
    height: 100%;
  }
  .screen-background {
    background-color: var(--app-color-borders);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .write-new-note-screen > .popup {
    height: 60%;
    width: 600px;
  }
  .popup {
    position: fixed;
    top: 50px;
    left: 50%;
    background-color: var(--body-color);
    border-radius: 10px;
    transform: translateX(-50%);
    z-index: 101;
    overflow-y: hidden;
  }
  .write-new-note-screen > .popup > .new-note-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px var(--app-color-borders);
    /* margin: 5px; */
    height: 50px;
  }
  .write-new-note-screen > .popup > .new-note-header > div {
    margin: 15px;
  }
  .write-new-note-screen > .popup > .new-note-header > div > img {
    filter: var(--invert-icon);
    /* margin: 15px; */
    width: 25px;
    display: inline-block;
  }
  .write-new-note-screen > .popup > .new-note-header > div > p {
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px 0px 15px;
  }
  .write-new-note-screen > .popup > .note-outer > .note-typing {
    height: 100%;
    /* width: 100%; */
    padding: 20px;
    overflow-y: auto;
    outline: 0;
  }
  .write-new-note-screen > .popup > .note-outer > .note-typing img {
    width: 100% !important;
    /* padding: 20px; */
    overflow-y: auto;
    border-radius: var(--button-radius);
    outline: 0;
  }
  .write-new-note-screen > .popup > .note-outer {
    height: calc(100% - 140px) !important;
    width: 100%;
    /* margin: 20px; */
  }
  .write-new-note-screen > .popup > .note-footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    border-top: solid 2px var(--app-color-borders);
    background-color: var(--body-color);
    width: 100%;
  }
  .write-new-note-screen > .popup > .note-footer > div {
    padding: 10px;
    border-radius: 20px;
  }
  .write-new-note-screen > .popup > .note-footer > div > img {
    height: 20px;
    display: inline-block;
  }
  .write-new-note-screen > .popup > .note-footer > div > p {
    /* height: 25px; */
    display: inline-block;
  }
  .write-new-note-screen > .popup > .note-footer > div:hover {
    background-color: var(--button-color-gray);
    cursor: pointer;
  }
  .write-new-note-screen
    > .popup
    > .note-footer
    > div
    > .note-footer-button-context {
    display: none;
  }
  .write-new-note-screen
    > .popup
    > .note-footer
    > div:hover
    > .note-footer-button-context {
    display: block;
    width: 150px;
    /* height: 100px; */
    background-color: var(--body-color);
    border: solid 2px var(--app-color-borders);
    position: absolute;
    bottom: 45px;
    animation: slideUpContext 0.3s ease;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    /* transform: translateX(calc(-10px - 50%)); */
  }

  @keyframes slideUpContext {
    0% {
      opacity: 0;
      bottom: 35px;
    }
    100% {
      opacity: 1;
      bottom: 45px;
    }
  }

  .note-footer-button-context > .button {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: var(--body-color);
    border-radius: 10px;
    transition: none;
  }
  .note-footer-button-context > .button:hover {
    background-color: var(--button-color-gray);
  }
  .selectable {
    animation: skelLoad 0.7s linear;
  }
  @keyframes skelLoad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .delete-note > .screen-background {
    z-index: 101;
  }
  .delete-note > .popup > div {
    margin: 20px;
    text-align: center;
  }
}

.note-item-inner {
  margin: 25px;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.selectable {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

.write-new-note-screen > .popup > .note-footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  border-top: solid 2px var(--app-color-borders);
  background-color: var(--body-color);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.write-new-note-screen > .popup > .note-footer > div {
  align-self: center;
  display: flex;
}
.write-new-note-screen > .popup > .note-footer > div > img {
  height: 20px;
  vertical-align: top;
  filter: var(--invert-icon);
}
.write-new-note-screen > .popup > .note-footer > div > p {
  /* height: 25px; */
  align-self: center;
  margin: 0 0 0 10px;
}
